{{>header}}
<div class="container">
    <div class="row">
        <div class="col-12">
            {{#error}}
            <div class="alert alert-danger m-2" role="alert">
                {{error}}
            </div>
            {{/error}}

            <h1>Calculadora</h1>
            <form action="/resultado" method="post">
                <div class="mb-3 mt-3">
                    <label for="v1" class="form-label">Valor 1:</label>
                    <input required type="number" value="{{v1}}" class="form-control" id="v1" name="v1">
                </div>

                <div class="mb-3 mt-3">
                    <label for="op" class="form-label">Operação:</label>
                    <select required name="op" id="oop">
                        <option value="+">+</option>
                        <option value="-">-</option>
                        <option value="*">*</option>
                        <option value="/">/</option>
                        <option value="%">%</option>
                    </select>

                    <div class="mb-3 mt-3">
                        <label for="v2" class="form-label">Valor 2:</label>
                        <input required type="number" value="{{v2}}" class="form-control" id="v2" name="v2">
                    </div>

                    <input type="submit" value="Calcular">
                </div>
            </form>
        </div>
    </div>
</div>
{{>footer}}